@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@0;1&family=Raleway:wght@100&family=Roboto+Mono:wght@600&family=Roboto:wght@300&display=swap');

.card{
    width: auto;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    font-family: 'Roboto Mono', monospace;
    border-radius: 0.6rem;
    box-shadow: -0rem 0 3rem #000;
    overflow: hidden;
    transition: transform 500ms ease;
}
.card:hover{
    transform: scale(1.05);
}

.wrapper{
    display: flex;
    justify-content: space-around;

}
.name{
    display:flex;
    justify-content: center;
    text-align: center;
    font-size: 16px;
    position: absolute;
    background-color: black;
    bottom: 20px;
    border-radius: 4px;
    padding: 0.5em 1em;
}
.details{
    width: 60%;
    color: wheat;
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: #2e2938;
    box-shadow: -0rem 0 2rem #212121;
    font-size: 13px;
    text-align: start;
    padding: 15px;
    border-radius: 4px;

    transform: translateY(180%);
    transition: transform 500ms ease;
}

.card:hover .details {
    transform: translateY(0);
}

.boton{
    font-size: 20px;
    color: white;
    background-color: rgb(219, 65, 65);
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 15px;
    border: none;
}
